@media only screen and (max-width: 600px) {
    .Login {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Login {
      width: 55%;
    }
  }
  @media only screen and (max-width: 300px) {
    .Login {
      width: 90%;
    }
  }